@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;

    --mask-image: linear-gradient(
      to top,
      hsla(210, 26.67%, 94.12%, 0) 0%,
      hsla(210, 26.67%, 94.12%, 0.013) 8.1%,
      hsla(210, 26.67%, 94.12%, 0.049) 15.5%,
      hsla(210, 26.67%, 94.12%, 0.104) 22.5%,
      hsla(210, 26.67%, 94.12%, 0.175) 29%,
      hsla(210, 26.67%, 94.12%, 0.259) 35.3%,
      hsla(210, 26.67%, 94.12%, 0.352) 41.2%,
      hsla(210, 26.67%, 94.12%, 0.45) 47.1%,
      hsla(210, 26.67%, 94.12%, 0.55) 52.9%,
      hsla(210, 26.67%, 94.12%, 0.648) 58.8%,
      hsla(210, 26.67%, 94.12%, 0.741) 64.7%,
      hsla(210, 26.67%, 94.12%, 0.825) 71%,
      hsla(210, 26.67%, 94.12%, 0.896) 77.5%,
      hsla(210, 26.67%, 94.12%, 0.951) 84.5%,
      hsla(210, 26.67%, 94.12%, 0.987) 91.9%,
      hsl(210, 26.67%, 94.12%) 100%
    );
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
